<div ng-controller="ListController as control" class="container-fluid">
  <h1>CheckIn</h1>
  <div class="row">
    <div class="col-md-6">
      <input type="text"
      name="name"
      placeholder="Digite algum dado..."
      class="input-lg"
      ng-model="control.search">
    </div>
    <div class="col-md-3">Realizados: <span class="badge">{{control.realized}}</span></div>
    <div class="col-md-3">Restante: <span class="badge">{{control.notRealized}}</span></div>
  </div>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo do Convite</th>
        <th>Camiseta</th>
        <th>Modelo</th>
        <th>Status Checkin</th>
        <th>#</th>
      </thead>
      <tr ng-repeat="list in control.list | filter:control.search">
        <td>{{list.name}}</td>
        <td>{{list.email}}</td>
        <td>{{list.type}}</td>
        <td>{{list.genre}}</td>
        <td>{{list.model}}</td>
        <td>{{list.size}}</td>
        <td>
          <span ng-class="list.status == 'OK' ? 'glyphicon glyphicon-ok
          ' : 'glyphicon glyphicon-remove'"></span>
          {{list.status}}
        </td>
        <td>
          <button
          ng-click="control.confirm(list)"
          ng-class="list.status == 'OK' ? 'btn btn-warning' : 'btn btn-success'">
          {{list.status == 'OK' ? 'Cancelar' : 'CheckIn'}}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<script type="text/ng-template" id="info.html">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title-info">{{control.getMessage()}}</h3>
</div>
<div class="modal-body" id="modal-body-info">
  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{control.selected.name}}</dd>
    <dt>Email</dt>
    <dd>{{control.selected.email}}</dd>
    <dt>Tipo do convite</dt>
    <dd>{{control.selected.type}}</dd>
    <di ng-if="control.selected.size">
      <dt>Tipo de Camiseta</dt>
      <dd>{{control.selected.genre}}</dd>
      <dt>Modelo</dt>
      <dd>{{control.selected.model}}</dd>
      <dt>Camiseta</dt>
      <dd>{{control.selected.size}}</dd>
    </di>
    <di ng-if="control.selected.date">
      <dt>Horário do Checkin</dt>
      <dd>{{control.selected.date | date:"dd/MM/yyyy HH:mm:ss"}}</dd>
    </di>
    <di ng-if="control.selected.status">
      <dt>Certificado</dt>
      <dd>
        <label class="radio-inline">
          <input type="radio" name="certificate" value="Sim" ng-model="control.certificate"> Sim
        </label>
        <label class="radio-inline">
          <input type="radio" name="certificate" value="NAO" ng-model="control.certificate"> Não
        </label>
      </dd>
    </di>
  </dl>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="control.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="control.cancel()">Cancel</button>
</div>
</script>